* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(-90deg, rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.03) 1px, transparent 1px), linear-gradient(transparent 3px, transparent 3px, transparent 78px, transparent 78px), linear-gradient(-90deg, transparent 1px, transparent 1px), linear-gradient(-90deg, transparent 3px, transparent 3px, transparent 78px, transparent 78px), linear-gradient(transparent 1px, transparent 1px), transparent;
  background-size: 50px 50px,
  50px 50px,
  50px 50px,
  50px 50px,
  50px 50px,
  50px 50px,
  50px 50px,
  50px 50px;
}

p,
ul, 
li {
  margin: 0;
}

.title {
  position: absolute;
  top: 5px;
  left: 5px;
}

.name {
  font-size: 30px;
}

.container {
  position: absolute;
  top: 298px;
  left: 298px;
  border: 2px solid #e0e0e0;
  width: 400px;
  background: rgba(124, 220, 255, 0.10);
  height: 400px;
  overflow: scroll;
}

.box {
  position: absolute;
  top: 50px;
  left: 150px;
  padding: 5px;
  border: 10px solid rgba(0, 196, 255, 0.8);
  width: 100px;
  height: 200px;
  background: rgba(0, 196, 255, 0.58);
}

.resizer {
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.22);
  position: absolute;
  right: -2px;
  bottom: -2px;
  border: 1px solid rgb(104, 104, 104);
  cursor: se-resize;
}

.indicator {
  position: fixed;
  top: 10px;
  left: 20px;
  padding: 10px;
  width: 170px;
  color: #fff;
}

.box-indicator {
  background-color: rgb(65, 146, 176);
}

.container-indicator {
  left: 220px;
  background: rgb(106, 84, 148);
}

.mouse-indicator {
  left: 420px;
  background: rgb(141, 141, 133);
}

.window-indicator {
    left: 620px;
    background: rgb(177, 137, 87);
}
